// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//


// ================= Character Sheet =================//


#charContainer {

	#charData{

		div {

			p {

				margin: 0;
			}

			margin: 5px;
		}

		border: 1px solid black;
		width: 300px;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		height: 180px;
	}

	position: relative;
    border: 1px solid black;
    width: 890px;
    margin: 0;
}

#armorStats {

	#armorClassBlock {

		div {

			input {

				text-align: right;
			}

			margin-left: 25px;
		}

		text-align: center;
		margin: 5px;
		display: flex;
		height: 102px;
	}

	margin: 0;
    position: absolute;
    border: 1px solid black;
    width: 498px;
    top: 0%;
    right: 88px;
}

#healthandDeathSaves {

		div {

			h4 {

				margin: 0;
			}

			p {

				margin: 5px;
			}

			input {

				margin: 0px;
				text-align: right;
			}
			width: 39%;
			text-align: center;
		}

	border: 1px solid black;
	display:flex;
	height: 294px;
    padding-top: 15px;
}

#saves {

	h4 {

		margin: 0;
	}

	div {

		input {
			margin: 0;
		}
	}
}

#statsBlock {

	p {

		margin-left: 8px;
	}

	input {

		float: right;
		margin-right: 8px;
		text-align: right;
	}

	border: 1px solid black;
	width: 300px;
}

#weaponsAndArmor {

	#weapons {

		button{

			margin-left: 10px;
		}

		ul {

			list-style: none;
		}

	    border: 1px solid black;
	    height: 370px;
	    width: 380px;
	    padding-left: 20px;
	}

	#armor {

		button {

			margin-left: 10px;
		}

		ul {

			list-style: none;
		}

		border: 1px solid black;
		height: 370px;
		width: 380px;
		padding-left: 20px;
	}

	display: flex;
	border: 1px solid black;
	width: 800px;
}

#skillsAbilsMagicItems {

		#skillsBar {

			div {

				p{

					text-align: right;
					margin-right: 16%;
				}

				input {

					float: left;
    				margin-left: 10%;
				}

			    position: absolute;
			    right: 46%;
			    top: -26%;
			    transform: rotate(-90deg);
			    height: 700px;
			    width: 475px;
			    border: 1px solid black;
			    background-color: white;
			    visibility: hidden;
			}

			width: 25%;
			text-align: center;
			border: 1px solid black;
		}

		#skillsBar:hover > div {

			visibility: visible;
		}

		#abilitiesBar {

			div {

				position: absolute;
			    right: 43%;
    			top: -27%;
    			transform: rotate(-90deg);
    			height: 700px;
    			width: 475px;
			    border: 1px solid black;
			    background-color: white;
			    visibility: hidden;
			}

			width: 25%;
			text-align: center;
			border: 1px solid black;
		}

		#abilitiesBar:hover > div {

			visibility: visible;
		}

		#spellsBar {

			div {

				position: absolute;
				right: 12%;
				top: -27%;
				transform: rotate(-90deg);
				height: 700px;
				width: 475px;
			    border: 1px solid black;
			    background-color: white;
			    visibility: hidden;
			}

			width: 25%;
			text-align: center;
			border: 1px solid black;
		}

		#spellsBar:hover > div {

			visibility: visible;
		}


	#itemsBar {

			div {

				position: absolute;
				right: 11%;
				top: -26%;
				transform: rotate(-90deg);
				height: 700px;
				width: 475px;
			    border: 1px solid black;
			    background-color: white;
			    visibility: hidden;
			}

			width: 25%;
			text-align: center;
			border: 1px solid black;
		}

		#itemsBar:hover > div {

			visibility: visible;
		}

	position: absolute;
    top: 46%;
    right: -57.5%;
    width: 1110px;
    height: 89px;
    border: 1px solid black;
    transform: rotate(90deg);
    display: flex;
}

#traitsBox {

	div {

		textarea {

			height: 208px;
    		width: 166px;
		}

		width: 25%;
    	margin-left: 14px;
	}

	display: flex;
    width: 800px;
    height: 277px;
    border: 1px solid black;
}

#newCharacter {

	#classSelect{

		margin-bottom: 20px;
	}

	#newCharStatBlock {

		input {

			float: right;
		}
	}

	width:300px;
}


// ==================== Profile Page Styling========== //

#ProfilePage {

	font-family: 'Quicksand', sans-serif;
}

#charactersCampaigns {


	#characterList {

		ul {

			list-style: none;
		}

		width: 20rem;
	}

	#campaignList {

		ul {

			list-style: none;
		}

		button {

			float: right;
		}

		width: 20rem;
    	padding-right: 2rem;
	}


	display: flex;
}
