// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#SignUp {

	font-family: arial;
	text-align: center;
}

#userDataBlock {

	input {

		margin: 4%;
	}

	display: inline-block;
    text-align: center;
    width: 200px;
}