// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#SignUp {

	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

#userDataBlock {

	input {

		margin: 4%;
	}

	display: inline-block;
    text-align: center;
    width: 200px;
}

#SignIn {

	font-family: 'Quicksand', sans-serif;
	text-align: center;
	margin: 15% auto;
	background-color: rgba(238, 238, 238, .8);
	width: 19%;
	padding: 2%;
	border-radius: 6px;
	.SignInButton {
		background-color: #292E10;
		color: #F0F6EA;
		font-size: 1em;
		height: 42px;
		width: 200px;
		margin-top: 1.67em;
		margin-bottom: 1.67em;
		border-radius: 6px;
		margin-bottom: 1em;
	}

}

#inputBox {

	input {

		margin: 4%;
	}

	button {
		text-align: center;
		width: 50%;
		// margin-left: 25%;
		// margin-right: 25%;
		margin-bottom: 5%;
	}

	display: inline-block;
	text-align: center;
	width: 200px;
}
